*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Open Sans', sans-serif;
	background: #edeef0;
}
ul{
	display: flex;
}
li{
	list-style: none;
	display: flex;
}
a{
	text-decoration: none;
}
.header__top{
	width: 100%;
	background: #434e7b;
	display: flex;
}
.container{
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.container-block{
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}
.header__link{
	color: #fff;
	font-size: 16px;
	padding: 30px 10px;
	margin-left: 12px;
}
.header__link:hover{
	background: #7485a9;
}
.header__logo{
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 28px;
	cursor: pointer;
	margin-top: 21px;
	margin-left: 10px;
}
.header__bottom{
	margin-bottom: 24px;
}
.header__bottom nav{
	border-bottom: 2px solid #cdcdcd;
}
.header__bottom a{
	color: #000;
	font-size: 16px;
	padding: 20px 10px;
	margin-right: 12px;
}
.header__bottom a:hover{
	background: #cdcdcd;
}
.header__bottom ul{
	justify-content: flex-start;
}

main{
	margin-top: 40px;
}

.articles-block{
	background: #fff;
	margin-bottom: 40px;
}
.articles-block h1{
	padding: 30px 30px 10px 30px;
	font-size: 28px;
}
.articles__content{
	display: flex;
	justify-content: space-between;
}
.article{
	margin: 0 25px;
}
.article img{
	margin: 30px 0;
}
.article h1{
	font-size: 24px;
	padding-bottom: 20px;
}
.article small{
	font-size: 14px;
	color: #777;
}
.article a{
	color: #000;
}
.article a:hover{
	color: #434e7b;
}
.article p{
	padding: 20px 0 40px 0;
}
.article__category a{
	color: #777;
}


.main__content{
	width: 67%;
	margin-right: 12px;
}
.main__sidebar{
	width: 33%;
	margin-left: 12px;
}
.article__header{
	text-align: center;
	background: #fff;
	padding: 40px 30px;
}
.article__content{
	background: #fff;
}
.article__content h1{
	font-size: 32px;
	padding: 0 30px;
}
.article__content p{
	margin: 24px 0 24px 0;
	padding: 0 30px;
}
.article__content p:last-child{
	padding-bottom: 50px;
}
.article__content img{
	display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 90%;
}

.comments-block{
	margin-top: 50px;
	background: #fff;
}
.comments-block h2{
	font-size: 24px;
	padding: 40px 30px;
}
.comment{
	display: flex;
}
.avatar img{
	margin: 0 30px 40px 30px;
}
.comment__content a{
	font-size: 12px;
	color: #b4b4b4;
}
.comment__content p{
	margin: 6px 0 40px 0;
	padding-right: 30px;
}
.comment__respond{
	margin: 0 20px;
}
.comment__form{
	font-size: 20px;
}
.comment__form textarea{
	width: 100%;
}
.comment__form input{
	padding: 12px;
	color: #fff;
	background: #000;
	border: none;
	margin-top: 20px;
}
.comment__form{
	font-size: 20px;
}

.side-block{
	background: #fff;
	margin-bottom: 24px;
}
.side-block h3{
	padding: 40px 30px;
}
.side-block a{
	color: #000;
}
.side-block a:hover{
	color: #434e7b;
}
.side__article{
	padding: 0 30px;
	display: flex;
}
.side__article img{
	margin: 0 18px 40px 0;
}
.side__article p{
	font-size: 18px;
	margin-bottom: 40px;
}
footer{
	background: #434e7b;
	margin-top: 100px;
	text-align: center;
	color: #fff;
}
footer .header__logo{
	padding: 30px 0
}





